

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*--- Begin Body Style ---*/
body {
    font-family: 'lato', sans-serif;
    font-size: 16px;
    padding: 0;
    margin: 0;
 }

p {
    line-height: 1.6;
}
html {
    padding: 0;
    margin: 0;
}
/*--- End Body Style ---*/



/*--- Begin Navbar Styling ---*/
#custom-nav {
    box-shadow: 0 15px 50px -6px #999;
}

.navbar {
    height: auto;
}
.onScroll {
    background: white;
    border: none;
}
.navbar-brand img {
    margin-left: 0;
    border-radius: 0;
}

/* Effect 1: Brackets */
.navbar-right a::before,
.navbar-right a::after {
    display: inline-block;
    color: #55acee;
    opacity: 0;
    -webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
    -moz-transition: -moz-transform 0.3s, opacity 0.2s;
    transition: transform 0.3s, opacity 0.2s;
}

.navbar-right a::before {
    margin-right: 10px;
    content: '{';
    -webkit-transform: translateX(20px);
    -moz-transform: translateX(20px);
    transform: translateX(20px);
}

.navbar-right a::after {
    margin-left: 10px;
    content: '}';
    -webkit-transform: translateX(-20px);
    -moz-transform: translateX(-20px);
    transform: translateX(-20px);
}

.navbar-right a:hover::before,
.navbar-right a:hover::after,
.navbar-right a:focus::before,
.navbar-right a:focus::after {
    opacity: 1;
    -webkit-transform: translateX(0px);
    -moz-transform: translateX(0px);
    transform: translateX(0px);
}
.navbar-collapse {
    border: none;
    color: white;
}
.navbar-collapse ul li a {
    color: #ccc;
}
.navbar-toggle {
    color: white;
}
.navbar-toggle, .navbar-header, .collapsed, .btn-navbar, .navbar-collapse, #bs-navbar-collapse, .nav, .navbar-nav, .navbar-right, #navbar-right, #navbar, .navbar, .navbar-default, .navbar-fixed-top, .navbar-custom, .header, .navbar-inner {
    border: none;
    box-shadow: none;
}
.navbar-inverse .navbar-toggle .icon-bar {
    background-color: #55acee;
}
.navbar-inverse .navbar-nav li a:hover {
    color: #55acee;
}

/*--- End Navbar Styling ---*/


img {
	display: block;
    margin: auto;
}

.jumbotron {
	background: url(../img/jumbotron-bg4.jpg) no-repeat center 30px fixed;
	background-size: cover;
	height: 90vh;
	margin: 0;
	padding-top: 5em;
	padding-bottom: 0;
}

#about {
	background: #F3F3F3;
	margin: 0;
	padding: 1em 0 0 0;
	text-align: center;
}
#about-bd {
	background: #F3F3F3;
	text-align: center;
	padding: 2em 20em 5em 20em;
}

#skills {
	padding: 5em 0 0 0;
	text-align: center;
}

#portfolio {
	padding: 5em 0 0 0;
}

#portfolio img {
	border-radius: .25em;
	box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


/*--- Scroll to Top Button Styling ---*/
.scrollTop-btn {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    /*-- image replacement properties --*/
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(144, 144, 144, 1) url(img/scroll-top.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.scrollTop-btn.scrollTop-is-visible,
.scrollTop-btn.scrollTop-fade-out,
.no-touch .scrollTop-btn:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.scrollTop-btn.scrollTop-is-visible {
    /*-- button becomes visible --*/
    visibility: visible;
    opacity: 1;
}
.scrollTop-btn.scrollTop-fade-out {
    /*-- if the user keeps scrolling down, the button is out of focus and becomes less visible --*/
    opacity: .5;
}
.no-touch .scrollTop-btn:hover {
    background-color: #606060;
    opacity: 1;
}
/*--- End Scroll to Top Button Styling ---*/


footer {
	padding: 5em 0 0 0;
}
















