

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/*--- Begin Body Style ---*/
body {
    font-family: 'lato', sans-serif;
    color: dimgray;
    font-size: 16px;
    padding: 0;
    margin: 0;
 }
}
p {
    line-height: 1.6;
}
html {
    padding: 0;
    margin: 0;
}
/*--- End Body Style ---*/


.nav {
	
}

img {
	display: block;
    margin: auto;
}

.jumbotron {
	background: url(../img/jumbotron-bg4.jpg) no-repeat center 30px fixed;
	background-size: cover;
	height: 90vh;
	margin: 0;
	padding-top: 5em;
	padding-bottom: 0;
}

#about {
	background: #F3F3F3;
	margin: 0;
	padding: 1em 0 0 0;
	text-align: center;
}
#about-bd {
	background: #F3F3F3;
	text-align: center;
	padding: 2em 20em 5em 20em;
}

#skills {
	padding: 0;
}

#skills h2 {
	text-align: center;
}

#portfolio {
	padding: 0;
}


/*--- Scroll to Top Button Styling ---*/
.scrollTop-btn {
    display: inline-block;
    height: 40px;
    width: 40px;
    position: fixed;
    bottom: 40px;
    right: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
    border-radius: 4px;

    /*-- image replacement properties --*/
    overflow: hidden;
    text-indent: 100%;
    white-space: nowrap;
    background: rgba(144, 144, 144, 1) url(img/scroll-top.svg) no-repeat center 50%;
    visibility: hidden;
    opacity: 0;
    -webkit-transition: opacity .3s 0s, visibility 0s .3s;
    -moz-transition: opacity .3s 0s, visibility 0s .3s;
    transition: opacity .3s 0s, visibility 0s .3s;
}
.scrollTop-btn.scrollTop-is-visible,
.scrollTop-btn.scrollTop-fade-out,
.no-touch .scrollTop-btn:hover {
    -webkit-transition: opacity .3s 0s, visibility 0s 0s;
    -moz-transition: opacity .3s 0s, visibility 0s 0s;
    transition: opacity .3s 0s, visibility 0s 0s;
}
.scrollTop-btn.scrollTop-is-visible {
    /*-- button becomes visible --*/
    visibility: visible;
    opacity: 1;
}
.scrollTop-btn.scrollTop-fade-out {
    /*-- if the user keeps scrolling down, the button is out of focus and becomes less visible --*/
    opacity: .5;
}
.no-touch .scrollTop-btn:hover {
    background-color: #606060;
    opacity: 1;
}
/*--- End Scroll to Top Button Styling ---*/


footer {
	padding: 5em 0 0 0;
}
















